<div class="task-detail">	
	<h3 ng-show="!task.editMode">{{task.title}}</h3>

	<div class="row" ng-show="task.editMode">
		<h4 class="col-md-4 col-md-offset-2">Title:</h4>
		<div class="col-md-6">
			<input ng-model="task.title" />
		</div>
	</div>


	<div class="row">
		<h4 class="col-md-4 col-md-offset-2">Description:</h4>

		<div class="col-md-6">
			<span ng-show="!task.editMode">{{task.description}}</span>
			<textarea ng-show="task.editMode" ng-model="task.description"> </textarea>
		</div>
	</div>

	<div class="row">
		<h4 class="col-md-4 col-md-offset-2">Due Date:</h4>

		<div class="col-md-6">
			<span ng-show="!task.editMode">{{task.dueDate | date }}</span>
			<datepicker ng-model="task.dueDate" ng-show="task.editMode" class="well well-sm"></datepicker>
		</div>

		
	</div>

	<div class="row">
		<h4 class="col-md-4 col-md-offset-2">Estimated Time:</h4>

		<div class="col-md-6">
			<span ng-show="!task.editMode">{{task.estimatedTime}} Minutes</span>
			<div ng-show="task.editMode">
				<span>{{task.estimatedTime}} Minutes</span>
				<div range-slider min="0" max="240" 
				model-max="task.estimatedTime" pin-handle="min"
				 step="15" show-values="false"></div>
			</div>
		</div>
	</div>

	<button class="btn btn-success" ng-click="saveTask()" ng-show="task.editMode">Save</button>
	<button class="btn btn-primary" ng-click="editTask()" ng-show="!task.editMode">Edit</button>
</div>