<div class="task-list">
	<ul class="list-group">
		<li class="task-item list-group-item" ng-repeat="task in tasks">
			<span ng-click="selectTask(task)">
				{{task.title}}
			</span>
			<button type="button" class="btn btn-warning" ng-click="deleteTask(task.id)">
				DELETE
			</button>
		</li>
	</ul>
	<div class="clearfix">
		<form ng-submit="createTask()">
			<button class="btn btn-primary col-md-12">Add Task</button>
		</form>
	</div>
	<div task-detail selected-task="selectedTask" ng-show="selectedTask"></div>
</div>