<!doctype html>
<html lang="en" ng-app="accioApp">
<head>
	<meta charset="utf-8">
	<title>I love tasks!</title>
	<!-- Bootstrap -->
	<link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular-resource.js")" type="text/javascript"></script>


    <script src="@routes.Assets.at("calendarUtils/sources/dhtmlxscheduler.js")" type="text/javascript"></script>

    <link rel="stylesheet" href="@routes.Assets.at("calendarUtils/sources/dhtmlxscheduler.css")" type="text/css">

    <!-- Bootstrap angular-->
    <script src="@routes.Assets.at("javascripts/libs/ui-bootstrap-tpls-0.11.0.js")" type="text/javascript"></script>


    <script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

    <script src="@routes.Assets.at("javascripts/calendar.js")" type="text/javascript"></script>

</head>

<header class="row">
    <a class="col-md-2 col-md-offset-2" href="/">Tasks</a>
    <h1 class="col-md-4">ACCIO</h1>
    <a class="col-md-2" href="/calendar">Calendar</a>
</header>

<body ng-controller="CalendarCtrl">
	<div id="scheduler_here" class="dhx_cal_container" style='width:1300px; height:500px; padding:10px;'>
    		<div class="dhx_cal_navline">
        	<div class="dhx_cal_prev_button">&nbsp;</div>
        	<div class="dhx_cal_next_button">&nbsp;</div>
        	<div class="dhx_cal_today_button"></div>
        	<div class="dhx_cal_date"></div>
        	<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
        	<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
        	<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
    </div>
    <div class="dhx_cal_header"></div>
    <div class="dhx_cal_data"></div>       
</div>	
</body>
</html>
