<!doctype html>
<html lang="en" ng-app="accioApp">
<head>
	<meta charset="utf-8">
	<title>I love tasks!</title>
	<!-- Bootstrap -->
	<link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular-resource.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

</head>

<header class="col-md-12">
	<h1>ACCIO</h1>
</header>

<body ng-controller="TaskCtrl">
	<div class="col-md-4">
		<categoryList></categoryList>
	</div>
	<div class="col-md-8">
		<button ng-click="addTask()">Add Task</button>
		<input ng-model="task.title"/>
		<ul>
			<li ng-repeat="task in tasks"><input ng-model="task.title" ng-text={{task.title}} /> <button ng-click="deleteTask(task.id)">DELETE</button> <button ng-click="editTaskTitle(task)">EDIT</button></li>
		</ul>
	</div>
	
</body>
</html>
