<!doctype html>
<html lang="en" ng-app="accioApp">
<head>
	<meta charset="utf-8">
	<title>I love tasks!</title>
	<!-- Bootstrap -->
	<link href="@routes.Assets.at("stylesheets/css/bootstrap.min.css")" rel="stylesheet">
		<link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/libs/angular-1.2.1/angular-resource.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>

</head>

<header class="col-md-12">
	<h1>ACCIO</h1>
</header>

<body ng-controller="TaskCtrl">
	<div class="col-md-5">
		<div category-list></div>
	</div>
	<div class="col-md-7">
		<div task-list></div>		
	</div>
</body>
</html>
